@import url("https://fonts.googleapis.com/css2?family=Itim&family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Itim", cursive;
}

.app {
  width: 100%;
  height: auto;

  background-color: #13005a;
  color: #03c988;
}

.light {
  background-color: #fffbeb;
  color: #00425a;
}
